html {
  height: 100%;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  color: #5e3b19;
  background-color: black;
}


h1 {
  padding: 20px;
}

header {
  position: fixed;
  top: 0; /* Stick it to the top of the viewport */
  color: beige;
  display: flex;
  justify-content: space-between; /* Space between logo and nav */
  align-items: center; /* Vertically align items in the center */
  padding: 2px 10px; /* Add padding for spacing */
  background-color: #3b2612;
  overflow: hidden;
  width: 97.7%; /* Make it full-width */
}

.logo-name {
  display: flex;
  align-items: center; /* Vertically align logo and name */
}

.logo-name img {
  width: 40px; 
  height: 40px; 
  margin-right: 20px; 
  margin-left: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 20px; /* Add space between navigation items */
}

a {
  text-decoration: none;
  color: beige;
}

a:hover {
  color: #d1b02e;
  transition-duration: 0.4s;
}

#wrapper { 
  /* ID selector - only be applied once,  */
  text-align: center;
}


#intro {
  background-image: url(resources/testbackground.jpg);
  background-size: cover;
  padding: 4% 0 4% 0;
  margin: 70px 0 0 0;
}

#home {
  background-image: url(resources/testbackground.jpg);
  background-size: cover;
  padding: 4% 0 4% 0;
}

.box {
  margin: 0 4%;
  background-color: rgba(247, 232, 218,0.65);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
}

.smallbox {
  margin: 0 4%;
  background-color: rgba(247, 232, 218,0.65);
  border-radius: 20px;
  align-items: center;
  padding: 0 0;
}

#heroimg {
  display: flex;
  align-items: center;
  padding: 4%;
  border: 2px;
  border-color: black;
  border-radius: 20px;
}

#about {
  align-items: center;
  padding: 4%;
}

#about h1{
  align-items: center;
  font-size: 40px;
}

#about p{
  line-height: 2;
  font-size: 20px;
}

#muteButton {
  background-color: rgba(250,240,230,0.6);
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #5e3b19;
  padding: 10px 24px;
  transition-duration: 0.4s;
  color: #5e3b19;
  cursor: click;
}

#muteButton:hover {
  background-color: #d1b02e;
  color: #5e3b19;
  border-color: #5e3b19;
}

#education {
  background-image: url(resources/resumebackground.jpg);
  align-items: center;
  background-size: cover;
  padding: 4% 0 4% 0;
}

#education h1{
  align-items: center;
  font-size: 40px;
  margin: 0 4%;
}

#GPAinformation {
  text-align: left;
  line-height: 2;
  font-size: 20px;
  padding: 2% 2%;
}

#education p{
  line-height: 2;
  font-size: 20px;
}

table, th, td{
  border: 1px solid #3b2612;
  align-items: center;
  margin: 6% 6%;
}

th, td{
  padding: 20px;
}

th{
  background-color:#3a2613;
  color: beige
}

object {
  height: 500px;
  width: 700px;
  padding: 4% 4%;
  margin: 0% auto;
}

#resume {
  background-image: url(resources/educationbackground.jpg);
  align-items: center;
  background-size: cover;
  padding: 4% 0 4% 0;
}

#myPDF {
  display: flex;
}

#innerresume {
  padding: 0 6%;
}

#innerresume h1 {
  align-items: center;
  font-size: 40px;
}

button{
  background-color: rgba(250,240,230,0.6);
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #5e3b19;
  padding: 10px 24px;
  transition-duration: 0.4s;
  color: #5e3b19;
}

button:hover {
  background-color: #d1b02e;
  color: #5e3b19;
  border-color: #5e3b19;
}

#contact {
  background-image: url(resources/contactbackground.jpg);
  background-size: cover;
  padding: 4% 0;
}

#contactbox {
  background-color: rgba(247, 232, 218, 0.65);
  border-radius: 20px;
  padding: 0 6%; /* Add horizontal padding */
  display: flex;
  justify-content: space-around; 
  align-items: center;
  margin: 0 4%;
}

#contact h1 {
  text-align: center;
  font-size: 40px;
  display: flex;
}

form {
  text-align: left; /* Left-align form contents */
  max-width: 600px; /* Adjust the max-width as needed */
  margin: 4% auto; /* Center the form within #contactbox */
}

.form-container {
  margin: 2% 0; /* Add some vertical spacing between form elements */
}

textarea {
  background-color: rgba(250, 240, 230, 0.6);
  line-height: 2;
  border-radius: 12px;
  border: 1px solid #3b2612;
  padding: 10px 24px;
  color: #5e3b19;
  width: 100%; /* Make the textarea expand to full width */
  font-family: 'Times New Roman', Times, serif;
}

form input[type="text"] {
  background-color: rgba(250, 240, 230, 0.6);
  border-radius: 8px;
  border: 1px solid #3b2612;
  padding: 5px 24px;
  color: #5e3b19;
  width: 100%; /* Make the input fields expand to full width */
  font-family: 'Times New Roman', Times, serif;
}

form input[type="submit"],
form input[type="reset"]{
  background-color: rgba(250,240,230,0.6);
  font-size: 14px;
  border-radius: 12px;
  border: 1px solid #3b2612;
  padding: 10px 24px;
  color: #5e3b19;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2% 0;
}

footer {
  text-align: center;
  background-color: #3b2612;
  color: beige; 
  padding: 1% 0;
}

.socialmedia {
  font-size: 30px;
  color: beige;
}

.section {
    transition: background-color 0.5s;
}

@media screen and (max-width: 788px) {
  nav ul {
    display: none;
  }

  a:hover {
    color: #d1b02e;
    transition-duration: 0.4s;
  }

  .menu-icon {
    display: block;
  }
  /* 10/17 */
  .nav-menu {
    display: block;
    background-color: transparent;
  }

  .nav-menu li {
    display: block;
    margin: 0;
  }

  .nav-menu li a {
    display: block;
    color: beige; /* Text color */
    padding: 14px 0;
    text-decoration: none;
  }
}

@media screen and (min-width: 789px) {
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 10px;
  }

  nav li a {
    display: inline-block;
    color: beige;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .menu-icon {
    display: none;
  }

  .nav-menu {
    display: block;
    background-color: transparent;
  }
}
